input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    width: 16px;
    height: 16px;
    background: #f3f4f6;
    border-radius: 4px;
    cursor: pointer;
}


